@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%; /* elimina los espacios que estan de mas */
    font-family: 'Roboto', sans-serif;
    color: rgb(115, 112, 112);
}
:root{
    /* =========color========= */
    --body-color: #4a5463;
    --primary-color: #ebf30e;
    --primary-color-light: #1a1922;
    --border-color: #AAB1FF;
    --booton-color: rgba(170,177,255,0.3);    
    --border-color-hover: rgba(170,177,255,0.3);
    --booton-color-hover: #000000;
    --text-color: #AAB1FF;
    --text-color-dark: #0E0E0E;
    --text-color-grey: #525254;
    --navbar-color-media: #ffffffa1;
    --boxshadow-color: rgba(135,141,214,0.3);
    --boxshadow-footer-color: rgba(0, 0, 0, 0.3);
    /* ======Transicion======= */
    --Trans-02: all 0.2 s ease;
    --Trans-03: all 0.3 s ease;
    --Trans-04: all 0.4 s ease;
    --Trans-05: all 0.5 s ease;
}
.bi{
    font-size: 30px;
}
p{
    color: darkslategrey;
    text-align: center;
    margin : 40px 0;
    font-size: 2rem;
}
div .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.foto{
    width:70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.474);

    
    
}
.titulo2{
    text-align: center;
    margin-top: 30px;
    font-size:35px;
}
main .contgral{
    
    display: flex;
    height: auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;

}
body{
    background-image: url(../img/background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat; /* hace que la imagen no se repita */
    background-size: cover;
}

a{
    text-decoration: none;
}

 .header{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    background-color: transparent;
    padding: 20px 10px;
    margin: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.192); /* eje x, eje y ,ancho, color */
}

nav{
    display: flex;
    gap: 50px; 
}


.logo{
    display: block;
}

.header2{
    display: none;
    background-color: transparent;
    
}



.nav-link3{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.nav-link4{
    color: black;
    font-size: 20px;
} 






.pie{
    display: flex;
    flex-direction:row ;
    width: 100%;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.644);
}
div.footer-texto{
    height: 50px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.644);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    
        
}
.foot{
    
    display: flex;
    flex-direction: column;
    font-size: 10px ;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
h3{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

b{
    padding-left: 5px;
    color: rgb(0, 0, 0);

}
 @media(max-width:991px){

    .header2{
        display: inline;
        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 20px 10px;
        margin: 30px 40px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(1, 1, 1, 0.192); 
        
    }
    .header{
        display: none;

}
.bi:hover{
    font-size: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.156);
    color: #ffffff;
}

#menu:checked ~ .header2{
    display: initial;
}
.menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--navbar-color-media);
    display: none;}

.desplegable{
    list-style: none;
    display: none;
}
.menu .navbar ul li{
    position: relative;
    float: left;
    
}
.menudesp::before{
    display: block;

}
.menu .navbar ul li a{
    
    font-size: 18px;
    padding: 20px;
    color: var(--primary-color-light);
    display: block;
}
.menu .navbar ul li a:hover{
    font-size: 18px;
    padding: 20px;
    color: var(--primary-color);

}
} 



